@import '../../general.css';

.navbar {
  height: 70px;
  /* width: 100%; */
  background-color: #091930;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: var(--secondary-dark2);
}

.links {
  /* color: white; */
  display: flex;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  gap: 2rem;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.links li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  /* background-color: $text-lightgray; */
  background-color: var(--secondary-dark);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo img {
  height: 50px;
}
