@import "../../general.css";

.navbar {
  height: 70px;
  /* width: 100%; */
  background-color: var(--primary-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: white;
}

.links {
  /* color: white; */
  display: flex;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: inherit;
}
